# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Build outputs
dist/
build/
*.tsbuildinfo

# Electron
out/
*.log

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# TypeScript
*.tsbuildinfo
